/* General styles */
body {
  background: linear-gradient(135deg,  #6b82e9 0%, #5846a8 100%); 
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}


.navbar {
  background: linear-gradient(135deg, #6b82e9 0%, #5846a8 100%) !important;
  color: #fff !important;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #fff !important;
}

.navbar-nav {
  display: flex;
  margin-left: auto; 
}

.navbar-nav .nav-item ,.navbar-brand{
  margin-right: 45px; 
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; 
}

